.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_anyOther
      その他
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    まとめ売り
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて        
      
  .categoryBox__ListTitle
    ペット用品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        犬用品
      %br/
      = link_to "",id:"category_LeftLink" do
        魚用品/水草
      %br/
      = link_to "",id:"category_LeftLink" do
        爬虫類/両生類用品
      %br/
      = link_to "",id:"category_LeftLink" do
        鳥用品
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ペットフード
      %br/
      = link_to "",id:"category_RightLink" do
        猫用品
      %br/
      = link_to "",id:"category_RightLink" do
        小動物用品
      %br/
      = link_to "",id:"category_RightLink" do
        かご/おり
      %br/
      = link_to "",id:"category_RightLink" do
        虫類用品        

  .categoryBox__ListTitle
    食品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        米
      %br/
      = link_to "",id:"category_LeftLink" do
        果物
      %br/
      = link_to "",id:"category_LeftLink" do
        魚介類(加工食品)
      %br/
      = link_to "",id:"category_LeftLink" do
        その他 加工食品
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        菓子
      %br/
      = link_to "",id:"category_RightLink" do
        野菜
      %br/
      = link_to "",id:"category_RightLink" do
        調味料
      %br/
      = link_to "",id:"category_RightLink" do
        肉類(加工食品)
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    飲料/酒
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ソフトドリンク
      %br/
      = link_to "",id:"category_LeftLink" do
        茶
      %br/
      = link_to "",id:"category_LeftLink" do
        ワイン
      %br/
      = link_to "",id:"category_LeftLink" do
        焼酎
      %br/
      = link_to "",id:"category_LeftLink" do
        ビール、発泡酒
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        コーヒー
      %br/
      = link_to "",id:"category_RightLink" do
        ミネラルウォーター
      %br/
      = link_to "",id:"category_RightLink" do
        ウイスキー
      %br/
      = link_to "",id:"category_RightLink" do
        ブランデー
      %br/
      = link_to "",id:"category_RightLink" do
        日本酒
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    日用品/生活雑貨/旅行
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        日用品/生活雑貨
      %br/
      = link_to "",id:"category_LeftLink" do
        旅行用品
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        タオル/バス用品
      %br/
      = link_to "",id:"category_RightLink" do
        洗剤/柔軟剤
      %br/
      = link_to "",id:"category_RightLink" do
        防災関連グッズ
        
  .categoryBox__ListTitle
    アンティーク/コレクション
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        工芸品
      %br/
      = link_to "",id:"category_LeftLink" do
        印刷物
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        雑貨
      %br/
      = link_to "",id:"category_RightLink" do
        家具
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    文房具/事務用品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ノート/メモ帳
      %br/
      = link_to "",id:"category_LeftLink" do
        カレンダー/スケジュール
      %br/
      = link_to "",id:"category_LeftLink" do
        ファイル/バインダー
      %br/
      = link_to "",id:"category_LeftLink" do
        カードホルダー/名刺管理
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        筆記具
      %br/
      = link_to "",id:"category_RightLink" do
        テープ/マスキングテープ
      %br/
      = link_to "",id:"category_RightLink" do
        アルバム/スクラップ
      %br/
      = link_to "",id:"category_RightLink" do
        はさみ/カッター
      %br/
      = link_to "",id:"category_RightLink" do
        のり/ホッチキス
        
  .categoryBox__ListTitle
    事務/店舗用品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        オフィス家具
      %br/
      = link_to "",id:"category_LeftLink" do
        OA機器
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        オフィス用品一般
      %br/
      = link_to "",id:"category_RightLink" do
        店舗用品
      %br/
      = link_to "",id:"category_RightLink" do
        ラッピング/包装
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
