.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_buycicle
      自動車・オートバイ
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    自動車本体
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        外国自動車本体
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        国内自動車本体        
      
  .categoryBox__ListTitle
    自動車タイヤ/ホイール
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        タイヤ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        タイヤ/ホイールセット
      %br/
      = link_to "",id:"category_RightLink" do
        ホイール        

  .categoryBox__ListTitle
    自動車パーツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ブレーキ
      %br/
      = link_to "",id:"category_LeftLink" do
        ライト
      %br/
      = link_to "",id:"category_LeftLink" do
        ステアリング
      %br/
      = link_to "",id:"category_LeftLink" do
        エンジン、過給器、冷却装置
      %br/
      = link_to "",id:"category_LeftLink" do
        電装品
      %br/
      = link_to "",id:"category_LeftLink" do
        汎用パーツ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        サスペンション
      %br/
      = link_to "",id:"category_RightLink" do
        外装、エアロパーツ
      %br/
      = link_to "",id:"category_RightLink" do
        内装品、シート
      %br/
      = link_to "",id:"category_RightLink" do
        マフラー・排気系
      %br/
      = link_to "",id:"category_RightLink" do
        クラッチ、ミッション、駆動系
      %br/
      = link_to "",id:"category_RightLink" do
        補強パーツ
      %br/
      = link_to "",id:"category_RightLink" do
        外国自動車用パーツ
        
  .categoryBox__ListTitle
    自動車アクセサリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        カーナビ
      %br/
      = link_to "",id:"category_LeftLink" do
        車外アクセサリー
      %br/
      = link_to "",id:"category_LeftLink" do
        チャイルドシート
      %br/
      = link_to "",id:"category_LeftLink" do
        レーダー探知機
      %br/
      = link_to "",id:"category_LeftLink" do
        セキュリティ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        車内アクセサリー
      %br/
      = link_to "",id:"category_RightLink" do
        カーオーディオ
      %br/
      = link_to "",id:"category_RightLink" do
        メンテナンス用品
      %br/
      = link_to "",id:"category_RightLink" do
        ドライブレコーダー
      %br/
      = link_to "",id:"category_RightLink" do
        カタログ/マニュアル
      %br/
      = link_to "",id:"category_RightLink" do
        ETC
        
  .categoryBox__ListTitle
    オートバイ車体
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
        
  .categoryBox__ListTitle
    オートバイパーツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        マフラー
      %br/
      = link_to "",id:"category_LeftLink" do
        カウル、フェンダー、外装
      %br/
      = link_to "",id:"category_LeftLink" do
        ホイール
      %br/
      = link_to "",id:"category_LeftLink" do
        ブレーキ
      %br/
      = link_to "",id:"category_LeftLink" do
        ライト、ウィンカー
      %br/
      = link_to "",id:"category_LeftLink" do
        メーター
      %br/
      = link_to "",id:"category_LeftLink" do
        ミラー
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        タイヤ
      %br/
      = link_to "",id:"category_RightLink" do
        エンジン、冷却装置
      %br/
      = link_to "",id:"category_RightLink" do
        サスペンション
      %br/
      = link_to "",id:"category_RightLink" do
        シート
      %br/
      = link_to "",id:"category_RightLink" do
        タンク
      %br/
      = link_to "",id:"category_RightLink" do
        チェーン、スプロケット、駆動系
      %br/
      = link_to "",id:"category_RightLink" do
        電装系
      %br/
      = link_to "",id:"category_RightLink" do
        外国オートバイ用パーツ
        
  .categoryBox__ListTitle
    オートバイアクセサリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        バイクウエア/装備
      %br/
      = link_to "",id:"category_LeftLink" do
        メンテナンス
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ヘルメット/シールド
      %br/
      = link_to "",id:"category_RightLink" do
        アクセサリー
      %br/
      = link_to "",id:"category_RightLink" do
        カタログ/マニュアル
