.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_cosme
      コスメ・香水・美容
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    ベースメイク
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        化粧下地
      %br/
      = link_to "",id:"category_LeftLink" do
        BBクリーム
      %br/
      = link_to "",id:"category_LeftLink" do
        コンシーラー
      %br/
      = link_to "",id:"category_LeftLink" do
        トライアルセット/サンプル
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ファンデーション
      %br/
      = link_to "",id:"category_RightLink" do
        コントロールカラー
      %br/
      = link_to "",id:"category_RightLink" do
        CCクリーム
      %br/
      = link_to "",id:"category_RightLink" do
        フェイスパウダー
      %br/
      = link_to "",id:"category_RightLink" do
        その他        
      
  .categoryBox__ListTitle
    メイクアップ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        口紅
      %br/
      = link_to "",id:"category_LeftLink" do
        リップライナー
      %br/
      = link_to "",id:"category_LeftLink" do
        フェイスカラー
      %br/
      = link_to "",id:"category_LeftLink" do
        アイライナー
      %br/
      = link_to "",id:"category_LeftLink" do
        アイブロウペンシル
      %br/
      = link_to "",id:"category_LeftLink" do
        眉マスカラ
      %br/
      = link_to "",id:"category_LeftLink" do
        メイク道具/化粧小物
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        アイシャドウ
      %br/
      = link_to "",id:"category_RightLink" do
        リップグロス
      %br/
      = link_to "",id:"category_RightLink" do
        チーク
      %br/
      = link_to "",id:"category_RightLink" do
        マスカラ
      %br/
      = link_to "",id:"category_RightLink" do
        つけまつげ
      %br/
      = link_to "",id:"category_RightLink" do
        パウダーアイブロウ
      %br/
      = link_to "",id:"category_RightLink" do
        トライアルセット/サンプル
      %br/
      = link_to "",id:"category_RightLink" do
        美顔用品/美顔ローラー        

  .categoryBox__ListTitle
    ネイルケア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        カラージェル
      %br/
      = link_to "",id:"category_LeftLink" do
        ネイルアート用品
      %br/
      = link_to "",id:"category_LeftLink" do
        ネイルチップ/付け爪
      %br/
      = link_to "",id:"category_LeftLink" do
        除光液
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ネイルカラー
      %br/
      = link_to "",id:"category_RightLink" do
        ネイルベースコート/トップコート
      %br/
      = link_to "",id:"category_RightLink" do
        ネイルパーツ
      %br/
      = link_to "",id:"category_RightLink" do
        手入れ用具
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    香水
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        香水(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        ボディミスト
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        香水(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        ユニセックス
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    スキンケア/基礎化粧品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        乳液/ミルク
      %br/
      = link_to "",id:"category_LeftLink" do
        フェイスクリーム
      %br/
      = link_to "",id:"category_LeftLink" do
        クレンジング/メイク落とし
      %br/
      = link_to "",id:"category_LeftLink" do
        ジェル/ゲル
      %br/
      = link_to "",id:"category_LeftLink" do
        アイケア
      %br/
      = link_to "",id:"category_LeftLink" do
        トライアルセット/サンプル
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        化粧水/ローション
      %br/
      = link_to "",id:"category_RightLink" do
        美容液
      %br/
      = link_to "",id:"category_RightLink" do
        洗顔料
      %br/
      = link_to "",id:"category_RightLink" do
        パック/フェイスマスク
      %br/
      = link_to "",id:"category_RightLink" do
        ブースター/導入液
      %br/
      = link_to "",id:"category_RightLink" do
        リップケア
      %br/
      = link_to "",id:"category_RightLink" do
        洗顔グッズ
        
  .categoryBox__ListTitle
    ヘアケア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        トリートメント
      %br/
      = link_to "",id:"category_LeftLink" do
        リンス
      %br/
      = link_to "",id:"category_LeftLink" do
        カラーリング剤
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        シャンプー
      %br/
      = link_to "",id:"category_RightLink" do
        コンディショナー
      %br/
      = link_to "",id:"category_RightLink" do
        スタイリング剤
      %br/
      = link_to "",id:"category_RightLink" do
        ブラシ
        
  .categoryBox__ListTitle
    ボディケア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ハンドクリーム
      %br/
      = link_to "",id:"category_LeftLink" do
        日焼け止め/サンオイル
      %br/
      = link_to "",id:"category_LeftLink" do
        入浴剤
      %br/
      = link_to "",id:"category_LeftLink" do
        フットケア
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        オイル/クリーム
      %br/
      = link_to "",id:"category_RightLink" do
        ローション
      %br/
      = link_to "",id:"category_RightLink" do
        ボディソープ
      %br/
      = link_to "",id:"category_RightLink" do
        制汗/デオドラント
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    オーラルケア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        歯ブラシ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        口臭防止/エチケット用品
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    リラクゼーション
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        芳香器
      %br/
      = link_to "",id:"category_LeftLink" do
        キャンドル
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        エッセンシャルオイル
      %br/
      = link_to "",id:"category_RightLink" do
        お香/香炉
      %br/
      = link_to "",id:"category_RightLink" do
        リラクゼーショングッズ
        
  .categoryBox__ListTitle
    ダイエット
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        エクササイズ用品
      %br/
      = link_to "",id:"category_LeftLink" do
        体脂肪計
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ダイエット食品
      %br/
      = link_to "",id:"category_RightLink" do
        体重計
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        看護/介護用品
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        健康用品
      %br/
      = link_to "",id:"category_RightLink" do
        救急/衛生用品