.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_gajet
      家電・スマホ・カメラ
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    スマートフォン/携帯電話
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        バッテリー/充電器
      %br/
      = link_to "",id:"category_LeftLink" do
        PHS本体
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        スマートフォン本体
      %br/
      = link_to "",id:"category_RightLink" do
        携帯電話本体
      %br/
      = link_to "",id:"category_RightLink" do
        その他        
      
  .categoryBox__ListTitle
    スマホアクセサリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        iPhone用ケース
      %br/
      = link_to "",id:"category_LeftLink" do
        イヤホンジャック
      %br/
      = link_to "",id:"category_LeftLink" do
        フィルム
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        Android用ケース
      %br/
      = link_to "",id:"category_RightLink" do
        カバー
      %br/
      = link_to "",id:"category_RightLink" do
        ストラップ
      %br/
      = link_to "",id:"category_RightLink" do
        自撮り棒

  .categoryBox__ListTitle
    PC/タブレット
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ノートPC
      %br/
      = link_to "",id:"category_LeftLink" do
        ディスプレイ
      %br/
      = link_to "",id:"category_LeftLink" do
        PC周辺機器
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        タブレット
      %br/
      = link_to "",id:"category_RightLink" do
        デスクトップ型PC
      %br/
      = link_to "",id:"category_RightLink" do
        電子ブックリーダー
      %br/
      = link_to "",id:"category_RightLink" do
        PCパーツ
        
  .categoryBox__ListTitle
    カメラ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ビデオカメラ
      %br/
      = link_to "",id:"category_LeftLink" do
        レンズ(ズーム)
      %br/
      = link_to "",id:"category_LeftLink" do
        防犯カメラ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        デジタルカメラ
      %br/
      = link_to "",id:"category_RightLink" do
        レンズ(単焦点)
      %br/
      = link_to "",id:"category_RightLink" do
        フィルムカメラ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    テレビ/映像機器
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        プロジェクター
      %br/
      = link_to "",id:"category_LeftLink" do
        DVDレコーダー
      %br/
      = link_to "",id:"category_LeftLink" do
        DVDプレーヤー
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        テレビ
      %br/
      = link_to "",id:"category_RightLink" do
        ブルーレイレコーダー
      %br/
      = link_to "",id:"category_RightLink" do
        ブルーレイプレーヤー
      %br/
      = link_to "",id:"category_RightLink" do
        映像用ケーブル
        
  .categoryBox__ListTitle
    オーディオ機器
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        イヤフォン
      %br/
      = link_to "",id:"category_LeftLink" do
        アンプ
      %br/
      = link_to "",id:"category_LeftLink" do
        ケーブル/シールド
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ポータブルプレーヤー
      %br/
      = link_to "",id:"category_RightLink" do
        ヘッドフォン
      %br/
      = link_to "",id:"category_RightLink" do
        スピーカー
      %br/
      = link_to "",id:"category_RightLink" do
        ラジオ
        
  .categoryBox__ListTitle
    美容/健康
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ヘアアイロン
      %br/
      = link_to "",id:"category_LeftLink" do
        電気シェーバー
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ヘアドライヤー
      %br/
      = link_to "",id:"category_RightLink" do
        美容機器
      %br/
      = link_to "",id:"category_RightLink" do
        電動歯ブラシ
        
  .categoryBox__ListTitle
    冷暖房/空調
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        空気清浄器
      %br/
      = link_to "",id:"category_LeftLink" do
        扇風機
      %br/
      = link_to "",id:"category_LeftLink" do
        ファンヒーター
      %br/
      = link_to "",id:"category_LeftLink" do
        オイルヒーター
      %br/
      = link_to "",id:"category_LeftLink" do
        ホットカーペット
      %br/
      = link_to "",id:"category_LeftLink" do
        電気毛布
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        エアコン
      %br/
      = link_to "",id:"category_RightLink" do
        加湿器
      %br/
      = link_to "",id:"category_RightLink" do
        除湿機
      %br/
      = link_to "",id:"category_RightLink" do
        電気ヒーター
      %br/
      = link_to "",id:"category_RightLink" do
        ストーブ
      %br/
      = link_to "",id:"category_RightLink" do
        こたつ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    生活家電
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        洗濯機
      %br/
      = link_to "",id:"category_LeftLink" do
        電子レンジ/オーブン
      %br/
      = link_to "",id:"category_LeftLink" do
        アイロン
      %br/
      = link_to "",id:"category_LeftLink" do
        エスプレッソマシン
      %br/
      = link_to "",id:"category_LeftLink" do
        衣類乾燥機
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        冷蔵庫
      %br/
      = link_to "",id:"category_RightLink" do
        炊飯器
      %br/
      = link_to "",id:"category_RightLink" do
        調理機器
      %br/
      = link_to "",id:"category_RightLink" do
        掃除機
      %br/
      = link_to "",id:"category_RightLink" do
        コーヒーメーカー
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        その他