.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_handMade
      ハンドメイド
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    アクセサリー(女性用)
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        イヤリング
      %br/
      = link_to "",id:"category_LeftLink" do
        ブレスレット
      %br/
      = link_to "",id:"category_LeftLink" do
        チャーム
      %br/
      = link_to "",id:"category_LeftLink" do
        アンクレット
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ピアス
      %br/
      = link_to "",id:"category_RightLink" do
        ネックレス
      %br/
      = link_to "",id:"category_RightLink" do
        リング
      %br/
      = link_to "",id:"category_RightLink" do
        ヘアゴム
      %br/
      = link_to "",id:"category_RightLink" do
        その他        
      
  .categoryBox__ListTitle
    ファッション/小物
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        バッグ(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        財布(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        バッグ(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        財布(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        ファッション雑貨        

  .categoryBox__ListTitle
    アクセサリー/時計
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        時計(女性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        アクセサリー(男性用)
      %br/
      = link_to "",id:"category_RightLink" do
        時計(男性用)
        
  .categoryBox__ListTitle
    日用品/インテリア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        家具
      %br/
      = link_to "",id:"category_LeftLink" do
        アート/写真
      %br/
      = link_to "",id:"category_LeftLink" do
        フラワー/ガーデン
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        キッチン用品
      %br/
      = link_to "",id:"category_RightLink" do
        文房具
      %br/
      = link_to "",id:"category_RightLink" do
        アロマ/キャンドル
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    趣味/おもちゃ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        おもちゃ/人形
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        クラフト/布製品
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    キッズ/ベビー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        スタイ/よだれかけ
      %br/
      = link_to "",id:"category_LeftLink" do
        ネームタグ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ファッション雑貨
      %br/
      = link_to "",id:"category_RightLink" do
        外出用品
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    素材/材料
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        生地/糸
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        各種パーツ
      %br/
      = link_to "",id:"category_RightLink" do
        型紙/パターン
        
  .categoryBox__ListTitle
    二次創作物
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        クリエイターズ宇宙兄弟
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        Ingress
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
