.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_hobby
      おもちゃ・ホビー・グッズ
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    おもちゃ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ぬいぐるみ
      %br/
      = link_to "",id:"category_LeftLink" do
        模型/プラモデル
      %br/
      = link_to "",id:"category_LeftLink" do
        トイラジコン
      %br/
      = link_to "",id:"category_LeftLink" do
        ホビーラジコン
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        キャラクターグッズ
      %br/
      = link_to "",id:"category_RightLink" do
        小物/アクセサリー
      %br/
      = link_to "",id:"category_RightLink" do
        ミニカー
      %br/
      = link_to "",id:"category_RightLink" do
        プラモデル
      %br/
      = link_to "",id:"category_RightLink" do
        鉄道模型
      
  .categoryBox__ListTitle
    タレントグッズ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ミュージシャン
      %br/
      = link_to "",id:"category_LeftLink" do
        スポーツ選手
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        アイドル
      %br/
      = link_to "",id:"category_RightLink" do
        タレント/お笑い芸人
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    コミック/アニメグッズ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        キーホルダー
      %br/
      = link_to "",id:"category_LeftLink" do
        カード
      %br/
      = link_to "",id:"category_LeftLink" do
        ポスター
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ストラップ
      %br/
      = link_to "",id:"category_RightLink" do
        バッジ
      %br/
      = link_to "",id:"category_RightLink" do
        クリアファイル
      %br/
      = link_to "",id:"category_RightLink" do
        タオル
        
  .categoryBox__ListTitle
    トレーディングカード
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        マジック：ザ・ギャザリング
      %br/
      = link_to "",id:"category_LeftLink" do
        デュエルマスターズ
      %br/
      = link_to "",id:"category_LeftLink" do
        プリパラ
      %br/
      = link_to "",id:"category_LeftLink" do
        カードファイト!! ヴァンガード
      %br/
      = link_to "",id:"category_LeftLink" do
        プロ野球オーナーズリーグ
      %br/
      = link_to "",id:"category_LeftLink" do
        ドラゴンボール
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        遊戯王
      %br/
      = link_to "",id:"category_RightLink" do
        ポケモンカードゲーム
      %br/
      = link_to "",id:"category_RightLink" do
        バトルスピリッツ
      %br/
      = link_to "",id:"category_RightLink" do
        アイカツ
      %br/
      = link_to "",id:"category_RightLink" do
        ヴァイスシュヴァルツ
      %br/
      = link_to "",id:"category_RightLink" do
        ベースボールヒーローズ
      %br/
      = link_to "",id:"category_RightLink" do
        スリーブ
        
  .categoryBox__ListTitle
    フィギュア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        特撮
      %br/
      = link_to "",id:"category_LeftLink" do
        SF/ファンタジー/ホラー
      %br/
      = link_to "",id:"category_LeftLink" do
        スポーツ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        コミック/アニメ
      %br/
      = link_to "",id:"category_RightLink" do
        ゲームキャラクター
      %br/
      = link_to "",id:"category_RightLink" do
        アメコミ
      %br/
      = link_to "",id:"category_RightLink" do
        ミリタリー
        
  .categoryBox__ListTitle
    楽器/器材
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        アコースティックギター
      %br/
      = link_to "",id:"category_LeftLink" do
        エフェクター
      %br/
      = link_to "",id:"category_LeftLink" do
        弦楽器
      %br/
      = link_to "",id:"category_LeftLink" do
        鍵盤楽器
      %br/
      = link_to "",id:"category_LeftLink" do
        和楽器
      %br/
      = link_to "",id:"category_LeftLink" do
        レコーディング/PA機器
      %br/
      = link_to "",id:"category_LeftLink" do
        DTM/DAW
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        エレキギター
      %br/
      = link_to "",id:"category_RightLink" do
        ベース
      %br/
      = link_to "",id:"category_RightLink" do
        アンプ
      %br/
      = link_to "",id:"category_RightLink" do
        管楽器
      %br/
      = link_to "",id:"category_RightLink" do
        打楽器
      %br/
      = link_to "",id:"category_RightLink" do
        楽譜/スコア
      %br/
      = link_to "",id:"category_RightLink" do
        DJ機器
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    コレクション
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        使用済切手/官製はがき
      %br/
      = link_to "",id:"category_LeftLink" do
        印刷物
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        武具
      %br/
      = link_to "",id:"category_RightLink" do
        旧貨幣/金貨/銀貨/記念硬貨
      %br/
      = link_to "",id:"category_RightLink" do
        ノベルティグッズ
        
  .categoryBox__ListTitle
    ミリタリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        個人装備
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トイガン
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    美術品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ガラス
      %br/
      = link_to "",id:"category_LeftLink" do
        金属工芸
      %br/
      = link_to "",id:"category_LeftLink" do
        版画
      %br/
      = link_to "",id:"category_LeftLink" do
        書
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        陶芸
      %br/
      = link_to "",id:"category_RightLink" do
        漆芸
      %br/
      = link_to "",id:"category_RightLink" do
        絵画/タペストリ
      %br/
      = link_to "",id:"category_RightLink" do
        彫刻/オブジェクト
      %br/
      = link_to "",id:"category_RightLink" do
        写真
        
  .categoryBox__ListTitle
    アート用品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        額縁
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        画材
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        カルタ/百人一首
      %br/
      = link_to "",id:"category_LeftLink" do
        ビリヤード
      %br/
      = link_to "",id:"category_LeftLink" do
        パズル/ジグソーパズル
      %br/
      = link_to "",id:"category_LeftLink" do
        オセロ/チェス
      %br/
      = link_to "",id:"category_LeftLink" do
        野球/サッカーゲーム
      %br/
      = link_to "",id:"category_LeftLink" do
        三輪車/乗り物
      %br/
      = link_to "",id:"category_LeftLink" do
        模型製作用品
      %br/
      = link_to "",id:"category_LeftLink" do
        航空機
      %br/
      = link_to "",id:"category_LeftLink" do
        パチンコ/パチスロ
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トランプ/UNO
      %br/
      = link_to "",id:"category_RightLink" do
        ダーツ
      %br/
      = link_to "",id:"category_RightLink" do
        麻雀
      %br/
      = link_to "",id:"category_RightLink" do
        囲碁/将棋
      %br/
      = link_to "",id:"category_RightLink" do
        人生ゲーム
      %br/
      = link_to "",id:"category_RightLink" do
        スポーツ
      %br/
      = link_to "",id:"category_RightLink" do
        ヨーヨー
      %br/
      = link_to "",id:"category_RightLink" do
        鉄道
      %br/
      = link_to "",id:"category_RightLink" do
        アマチュア無線
      %br/
      = link_to "",id:"category_RightLink" do
        その他