.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_house
      インテリア・住まい・小物
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    キッチン/食器
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        調理器具
      %br/
      = link_to "",id:"category_LeftLink" do
        弁当用品
      %br/
      = link_to "",id:"category_LeftLink" do
        テーブル用品
      %br/
      = link_to "",id:"category_LeftLink" do
        エプロン
      %br/
      = link_to "",id:"category_LeftLink" do
        浄水機
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        食器
      %br/
      = link_to "",id:"category_RightLink" do
        収納/キッチン雑貨
      %br/
      = link_to "",id:"category_RightLink" do
        カトラリー(スプーン等)
      %br/
      = link_to "",id:"category_RightLink" do
        容器
      %br/
      = link_to "",id:"category_RightLink" do
        アルコールグッズ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
      
  .categoryBox__ListTitle
    ベッド/マットレス
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        シングルベッド
      %br/
      = link_to "",id:"category_LeftLink" do
        ダブルベッド
      %br/
      = link_to "",id:"category_LeftLink" do
        クイーンベッド
      %br/
      = link_to "",id:"category_LeftLink" do
        脚付きマットレスベッド
      %br/
      = link_to "",id:"category_LeftLink" do
        すのこベッド
      %br/
      = link_to "",id:"category_LeftLink" do
        簡易ベッド/折りたたみベッド
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        セミシングルベッド
      %br/
      = link_to "",id:"category_RightLink" do
        セミダブルベッド
      %br/
      = link_to "",id:"category_RightLink" do
        ワイドダブルベッド
      %br/
      = link_to "",id:"category_RightLink" do
        キングベッド
      %br/
      = link_to "",id:"category_RightLink" do
        マットレス
      %br/
      = link_to "",id:"category_RightLink" do
        ロフトベッド/システムベッド
      %br/
      = link_to "",id:"category_RightLink" do
        収納付き
      %br/
        
  .categoryBox__ListTitle
    ソファ/ソファベッド
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        シングルソファ
      %br/
      = link_to "",id:"category_LeftLink" do
        トリプルソファ
      %br/
      = link_to "",id:"category_LeftLink" do
        コーナーソファ
      %br/
      = link_to "",id:"category_LeftLink" do
        ローソファ/フロアソファ
      %br/
      = link_to "",id:"category_LeftLink" do
        応接セット
      %br/
      = link_to "",id:"category_LeftLink" do
        リクライニングソファ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ソファセット
      %br/
      = link_to "",id:"category_RightLink" do
        ラブソファ
      %br/
      = link_to "",id:"category_RightLink" do
        オットマン
      %br/
      = link_to "",id:"category_RightLink" do
        ビーズソファ/クッションソファ
      %br/
      = link_to "",id:"category_RightLink" do
        ソファベッド
      %br/
      = link_to "",id:"category_RightLink" do
        ソファカバー
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    椅子/チェア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        スツール
      %br/
      = link_to "",id:"category_LeftLink" do
        ハイバックチェア
      %br/
      = link_to "",id:"category_LeftLink" do
        座椅子
      %br/
      = link_to "",id:"category_LeftLink" do
        デスクチェア
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        一般
      %br/
      = link_to "",id:"category_RightLink" do
        ダイニングチェア
      %br/
      = link_to "",id:"category_RightLink" do
        ロッキングチェア
      %br/
      = link_to "",id:"category_RightLink" do
        折り畳みイス
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    机/テーブル
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        こたつ
      %br/
      = link_to "",id:"category_LeftLink" do
        サイドテーブル
      %br/
      = link_to "",id:"category_LeftLink" do
        ダイニングテーブル
      %br/
      = link_to "",id:"category_LeftLink" do
        アウトドア用
      %br/
      = link_to "",id:"category_LeftLink" do
        事務机/学習机
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        カウンターテーブル
      %br/
      = link_to "",id:"category_RightLink" do
        センターテーブル
      %br/
      = link_to "",id:"category_RightLink" do
        座卓/ちゃぶ台
      %br/
      = link_to "",id:"category_RightLink" do
        パソコン用
        
  .categoryBox__ListTitle
    収納家具
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        キッチン収納
      %br/
      = link_to "",id:"category_LeftLink" do
        バス/トイレ収納
      %br/
      = link_to "",id:"category_LeftLink" do
        本/CD/DVD収納
      %br/
      = link_to "",id:"category_LeftLink" do
        電話台/ファックス台
      %br/
      = link_to "",id:"category_LeftLink" do
        棚/ラック
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        リビング収納
      %br/
      = link_to "",id:"category_RightLink" do
        玄関/屋外収納
      %br/
      = link_to "",id:"category_RightLink" do
        本収納
      %br/
      = link_to "",id:"category_RightLink" do
        洋服タンス/押入れ収納
      %br/
      = link_to "",id:"category_RightLink" do
        ドレッサー/鏡台
      %br/
      = link_to "",id:"category_RightLink" do
        ケース/ボックス
        
  .categoryBox__ListTitle
    ラグ/カーペット/マット
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        カーペット
      %br/
      = link_to "",id:"category_LeftLink" do
        玄関/キッチンマット
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ラグ
      %br/
      = link_to "",id:"category_RightLink" do
        ホットカーペット
      %br/
      = link_to "",id:"category_RightLink" do
        トイレ/バスマット
        
  .categoryBox__ListTitle
    カーテン/ブラインド
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ブラインド
      %br/
      = link_to "",id:"category_LeftLink" do
        のれん
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        カーテン
      %br/
      = link_to "",id:"category_RightLink" do
        ロールスクリーン
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    ライト/照明
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        天井照明
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        蛍光灯/電球
      %br/
      = link_to "",id:"category_RightLink" do
        フロアスタンド
        
  .categoryBox__ListTitle
    寝具
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        枕
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        布団/毛布
      %br/
      = link_to "",id:"category_RightLink" do
        シーツ/カバー
        
  .categoryBox__ListTitle
    インテリア小物
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ウェルカムボード
      %br/
      = link_to "",id:"category_LeftLink" do
        クッション
      %br/
      = link_to "",id:"category_LeftLink" do
        スリッパラック
      %br/
      = link_to "",id:"category_LeftLink" do
        バスケット/かご
      %br/
      = link_to "",id:"category_LeftLink" do
        マガジンラック
      %br/
      = link_to "",id:"category_LeftLink" do
        花瓶
      %br/
      = link_to "",id:"category_LeftLink" do
        傘立て
      %br/
      = link_to "",id:"category_LeftLink" do
        置時計
      %br/
      = link_to "",id:"category_LeftLink" do
        鏡(立て掛け式)
      %br/
      = link_to "",id:"category_LeftLink" do
        置物
      %br/
      = link_to "",id:"category_LeftLink" do
        植物/観葉植物

    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ごみ箱
      %br/
      = link_to "",id:"category_RightLink" do
        オルゴール
      %br/
      = link_to "",id:"category_RightLink" do
        クッションカバー
      %br/
      = link_to "",id:"category_RightLink" do
        ティッシュボックス
      %br/
      = link_to "",id:"category_RightLink" do
        フォトフレーム
      %br/
      = link_to "",id:"category_RightLink" do
        モビール
      %br/
      = link_to "",id:"category_RightLink" do
        灰皿
      %br/
      = link_to "",id:"category_RightLink" do
        小物入れ
      %br/
      = link_to "",id:"category_RightLink" do
        掛時計/柱時計
      %br/
      = link_to "",id:"category_RightLink" do
        鏡(壁掛け式)
      %br/
      = link_to "",id:"category_RightLink" do
        風鈴
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    季節/年中行事
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        成人式
      %br/
      = link_to "",id:"category_LeftLink" do
        ひな祭り
      %br/
      = link_to "",id:"category_LeftLink" do
        母の日
      %br/
      = link_to "",id:"category_LeftLink" do
        サマーギフト/お中元
      %br/
      = link_to "",id:"category_LeftLink" do
        ハロウィン
      %br/
      = link_to "",id:"category_LeftLink" do
        七五三
      %br/
      = link_to "",id:"category_LeftLink" do
        クリスマス
      %br/
      = link_to "",id:"category_LeftLink" do
        その他

    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        正月
      %br/
      = link_to "",id:"category_RightLink" do
        バレンタインデー
      %br/
      = link_to "",id:"category_RightLink" do
        子どもの日
      %br/
      = link_to "",id:"category_RightLink" do
        父の日
      %br/
      = link_to "",id:"category_RightLink" do
        夏/夏休み
      %br/
      = link_to "",id:"category_RightLink" do
        敬老の日
      %br/
      = link_to "",id:"category_RightLink" do
        お歳暮
      %br/
      = link_to "",id:"category_RightLink" do
        冬一般

  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて