.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_kid
      ベビー・キッズ
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    ベビー服(女の子用) ~95cm
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        アウター
      %br/
      = link_to "",id:"category_LeftLink" do
        スカート
      %br/
      = link_to "",id:"category_LeftLink" do
        ベビードレス
      %br/
      = link_to "",id:"category_LeftLink" do
        下着/肌着
      %br/
      = link_to "",id:"category_LeftLink" do
        ロンパース
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トップス
      %br/
      = link_to "",id:"category_RightLink" do
        パンツ
      %br/
      = link_to "",id:"category_RightLink" do
        ワンピース
      %br/
      = link_to "",id:"category_RightLink" do
        おくるみ
      %br/
      = link_to "",id:"category_RightLink" do
        パジャマ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
      
  .categoryBox__ListTitle
    ベビー服(男の子用) ~95cm
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        アウター
      %br/
      = link_to "",id:"category_LeftLink" do
        おくるみ
      %br/
      = link_to "",id:"category_LeftLink" do
        パジャマ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トップス
      %br/
      = link_to "",id:"category_RightLink" do
        パンツ
      %br/
      = link_to "",id:"category_RightLink" do
        下着/肌着
      %br/
      = link_to "",id:"category_RightLink" do
        ロンパース        

  .categoryBox__ListTitle
    ベビー服(男女兼用) ~95cm
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        アウター
      %br/
      = link_to "",id:"category_LeftLink" do
        おくるみ
      %br/
      = link_to "",id:"category_LeftLink" do
        パジャマ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トップス
      %br/
      = link_to "",id:"category_RightLink" do
        パンツ
      %br/
      = link_to "",id:"category_RightLink" do
        下着/肌着
      %br/
      = link_to "",id:"category_RightLink" do
        ロンパース
        
  .categoryBox__ListTitle
    キッズ服(女の子用) 100cm~
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ジャケット/上着
      %br/
      = link_to "",id:"category_LeftLink" do
        トップス(トレーナー)
      %br/
      = link_to "",id:"category_LeftLink" do
        トップス(タンクトップ)
      %br/
      = link_to "",id:"category_LeftLink" do
        スカート
      %br/
      = link_to "",id:"category_LeftLink" do
        ワンピース
      %br/
      = link_to "",id:"category_LeftLink" do
        パジャマ
      %br/
      = link_to "",id:"category_LeftLink" do
        和服
      %br/
      = link_to "",id:"category_LeftLink" do
        甚平
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        コート
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(Tシャツ/カットソー)
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(チュニック)
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(その他)
      %br/
      = link_to "",id:"category_RightLink" do
        パンツ
      %br/
      = link_to "",id:"category_RightLink" do
        セットアップ
      %br/
      = link_to "",id:"category_RightLink" do
        フォーマル/ドレス
      %br/
      = link_to "",id:"category_RightLink" do
        浴衣
      %br/
      = link_to "",id:"category_RightLink" do
        水着

  .categoryBox__ListTitle
    キッズ服(男の子用) 100cm~
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ジャケット/上着
      %br/
      = link_to "",id:"category_LeftLink" do
        トップス(トレーナー)
      %br/
      = link_to "",id:"category_LeftLink" do
        パンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        パジャマ
      %br/
      = link_to "",id:"category_LeftLink" do
        和服
      %br/
      = link_to "",id:"category_LeftLink" do
        甚平
      %br/
      = link_to "",id:"category_LeftLink" do
        その他

    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        コート
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(Tシャツ/カットソー)
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(その他)
      %br/
      = link_to "",id:"category_RightLink" do
        セットアップ
      %br/
      = link_to "",id:"category_RightLink" do
        フォーマル/ドレス
      %br/
      = link_to "",id:"category_RightLink" do
        浴衣
      %br/
      = link_to "",id:"category_RightLink" do
        水着
        
  .categoryBox__ListTitle
    キッズ服(男女兼用) 100cm~
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ジャケット/上着
      %br/
      = link_to "",id:"category_LeftLink" do
        トップス(トレーナー)
      %br/
      = link_to "",id:"category_LeftLink" do
        ボトムス
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        コート
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(Tシャツ/カットソー)
      %br/
      = link_to "",id:"category_RightLink" do
        トップス(その他)
      %br/
      = link_to "",id:"category_RightLink" do
        パジャマ
        
  .categoryBox__ListTitle
    キッズ靴
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        サンダル
      %br/
      = link_to "",id:"category_LeftLink" do
        長靴
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        スニーカー
      %br/
      = link_to "",id:"category_RightLink" do
        ブーツ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    子ども用ファッション小物
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        帽子
      %br/
      = link_to "",id:"category_LeftLink" do
        サスペンダー
      %br/
      = link_to "",id:"category_LeftLink" do
        ハンカチ
      %br/
      = link_to "",id:"category_LeftLink" do
        ベルト
      %br/
      = link_to "",id:"category_LeftLink" do
        傘
      %br/
      = link_to "",id:"category_LeftLink" do
        スタイ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        靴下/スパッツ
      %br/
      = link_to "",id:"category_RightLink" do
        エプロン
      %br/
      = link_to "",id:"category_RightLink" do
        タイツ
      %br/
      = link_to "",id:"category_RightLink" do
        バンダナ
      %br/
      = link_to "",id:"category_RightLink" do
        マフラー
      %br/
      = link_to "",id:"category_RightLink" do
        手袋
      %br/
      = link_to "",id:"category_RightLink" do
        バッグ
        
  .categoryBox__ListTitle
    おむつ/トイレ/バス
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        おまる/補助便座
      %br/
      = link_to "",id:"category_LeftLink" do
        ベビーバス
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        おむつ用品
      %br/
      = link_to "",id:"category_RightLink" do
        トレーニングパンツ
      %br/
      = link_to "",id:"category_RightLink" do
        お風呂用品

  .categoryBox__ListTitle
    外出/移動用品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        抱っこひも/スリング
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ベビーカー
      %br/
      = link_to "",id:"category_RightLink" do
        チャイルドシート
        
  .categoryBox__ListTitle
    授乳/食事
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ベビーフード
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ミルク
      %br/
      = link_to "",id:"category_RightLink" do
        ベビー用食器
        
  .categoryBox__ListTitle
    ベビー家具/寝具/室内用品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        布団/毛布
      %br/
      = link_to "",id:"category_LeftLink" do
        たんす
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ベッド
      %br/
      = link_to "",id:"category_RightLink" do
        イス
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    おもちゃ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        がらがら
      %br/
      = link_to "",id:"category_LeftLink" do
        ベビージム
      %br/
      = link_to "",id:"category_LeftLink" do
        知育玩具
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        おふろのおもちゃ
      %br/
      = link_to "",id:"category_RightLink" do
        オルゴール
      %br/
      = link_to "",id:"category_RightLink" do
        手押し車/カタカタ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    行事/記念品
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        お食い初め用品
      %br/
      = link_to "",id:"category_LeftLink" do
        手形/足形
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        お宮参り用品
      %br/
      = link_to "",id:"category_RightLink" do
        アルバム
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        母子手帳用品
