.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_men
      メンズ
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    トップス
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        Tシャツ/カットソー(七分/長袖)
      %br/
      = link_to "",id:"category_LeftLink" do
        ポロシャツ
      %br/
      = link_to "",id:"category_LeftLink" do
        ニット/セーター
      %br/
      = link_to "",id:"category_LeftLink" do
        カーディガン
      %br/
      = link_to "",id:"category_LeftLink" do
        ジャージ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        Tシャツ/カットソー(半袖/袖なし)
      %br/
      = link_to "",id:"category_RightLink" do
        シャツ
      %br/
      = link_to "",id:"category_RightLink" do
        タンクトップ
      %br/
      = link_to "",id:"category_RightLink" do
        パーカー
      %br/
      = link_to "",id:"category_RightLink" do
        スウェット
      %br/
      = link_to "",id:"category_RightLink" do
        ベスト
      
  .categoryBox__ListTitle
    ジャケット/アウター
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ノーカラージャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        レザージャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        ライダースジャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        ナイロンジャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        ダッフルコート
      %br/
      = link_to "",id:"category_LeftLink" do
        ステンカラーコート
      %br/
      = link_to "",id:"category_LeftLink" do
        モッズコート
      %br/
      = link_to "",id:"category_LeftLink" do
        スタジャン
      %br/
      = link_to "",id:"category_LeftLink" do
        ブルゾン
      %br/
      = link_to "",id:"category_LeftLink" do
        ダウンベスト
      %br/
      = link_to "",id:"category_LeftLink" do
        カバーオール  
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        テーラードジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        Gジャン/デニムジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        ダウンジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        ミリタリージャケット
      %br/
      = link_to "",id:"category_RightLink" do
        フライトジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        ピーコート
      %br/
      = link_to "",id:"category_RightLink" do
        トレンチコート
      %br/
      = link_to "",id:"category_RightLink" do
        チェスターコート
      %br/
      = link_to "",id:"category_RightLink" do
        スカジャン
      %br/
      = link_to "",id:"category_RightLink" do
        マウンテンパーカー
      %br/
      = link_to "",id:"category_RightLink" do
        ポンチョ
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    パンツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ワークパンツ/カーゴパンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        チノパン
      %br/
      = link_to "",id:"category_LeftLink" do
        ペインターパンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        オーバーオール
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        デニム/ジーンズ
      %br/
      = link_to "",id:"category_RightLink" do
        スラックス
      %br/
      = link_to "",id:"category_RightLink" do
        ショートパンツ
      %br/
      = link_to "",id:"category_RightLink" do
        サルエルパンツ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    靴
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        サンダル
      %br/
      = link_to "",id:"category_LeftLink" do
        モカシン
      %br/
      = link_to "",id:"category_LeftLink" do
        長靴/レインシューズ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        スニーカー
      %br/
      = link_to "",id:"category_RightLink" do
        ブーツ
      %br/
      = link_to "",id:"category_RightLink" do
        ドレス/ビジネス
      %br/
      = link_to "",id:"category_RightLink" do
        デッキシューズ
    
  .categoryBox__ListTitle
    バッグ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        トートバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        リュック/バックパック
      %br/
      = link_to "",id:"category_LeftLink" do
        ボディーバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        ビジネスバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        メッセンジャーバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ショルダーバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ボストンバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ウエストポーチ
      %br/
      = link_to "",id:"category_RightLink" do
        ドラムバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        トラベルバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        エコバッグ
        
  .categoryBox__ListTitle
    スーツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        スーツベスト
      %br/
      = link_to "",id:"category_LeftLink" do
        セットアップ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        スーツジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        スラックス
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    帽子
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ハット
      %br/
      = link_to "",id:"category_LeftLink" do
        ハンチング/ベレー帽
      %br/
      = link_to "",id:"category_LeftLink" do
        サンバイザー
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        キャップ
      %br/
      = link_to "",id:"category_RightLink" do
        ニットキャップ/ビーニー
      %br/
      = link_to "",id:"category_RightLink" do
        キャスケット
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    アクセサリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ブレスレット
      %br/
      = link_to "",id:"category_LeftLink" do
        リング
      %br/
      = link_to "",id:"category_LeftLink" do
        ピアス(両耳用)
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ネックレス
      %br/
      = link_to "",id:"category_RightLink" do
        バングル/リストバンド
      %br/
      = link_to "",id:"category_RightLink" do
        ピアス(片耳用)
      %br/
      = link_to "",id:"category_RightLink" do
        アンクレット
        
  .categoryBox__ListTitle
    小物
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        折り財布
      %br/
      = link_to "",id:"category_LeftLink" do
        コインケース/小銭入れ
      %br/
      = link_to "",id:"category_LeftLink" do
        キーケース
      %br/
      = link_to "",id:"category_LeftLink" do
        ネクタイ
      %br/
      = link_to "",id:"category_LeftLink" do
        ハンカチ
      %br/
      = link_to "",id:"category_LeftLink" do
        マフラー
      %br/
      = link_to "",id:"category_LeftLink" do
        バンダナ
      %br/
      = link_to "",id:"category_LeftLink" do
        サスペンダー
      %br/
      = link_to "",id:"category_LeftLink" do
        サングラス/メガネ
      %br/
      = link_to "",id:"category_LeftLink" do
        手帳
      %br/
      = link_to "",id:"category_LeftLink" do
        ネクタイピン
      %br/
      = link_to "",id:"category_LeftLink" do
        イヤマフラー
      %br/
      = link_to "",id:"category_LeftLink" do
        レインコート
      %br/
      = link_to "",id:"category_LeftLink" do
        タバコグッズ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        長財布
      %br/
      = link_to "",id:"category_RightLink" do
        マネークリップ
      %br/
      = link_to "",id:"category_RightLink" do
        名刺入れ/定期入れ
      %br/
      = link_to "",id:"category_RightLink" do
        キーホルダー
      %br/
      = link_to "",id:"category_RightLink" do
        手袋
      %br/
      = link_to "",id:"category_RightLink" do
        ベルト
      %br/
      = link_to "",id:"category_RightLink" do
        ストール
      %br/
      = link_to "",id:"category_RightLink" do
        ネックウォーマー
      %br/
      = link_to "",id:"category_RightLink" do
        ウォレットチェーン
      %br/
      = link_to "",id:"category_RightLink" do
        モバイルケース/カバー
      %br/
      = link_to "",id:"category_RightLink" do
        ストラップ
      %br/
      = link_to "",id:"category_RightLink" do
        カフリンクス
      %br/
      = link_to "",id:"category_RightLink" do
        傘
      %br/
      = link_to "",id:"category_RightLink" do
        ミラー
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    時計
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        腕時計(デジタル)
      %br/
      = link_to "",id:"category_LeftLink" do
        レザーベルト
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        腕時計(アナログ)
      %br/
      = link_to "",id:"category_RightLink" do
        ラバーベルト
      %br/
      = link_to "",id:"category_RightLink" do
        金属ベルト
        
  .categoryBox__ListTitle
    水着
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        スポーツ用
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        一般水着
      %br/
      = link_to "",id:"category_RightLink" do
        アクセサリー
      %br/
        
  .categoryBox__ListTitle
    レッグウェア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        レギンス/スパッツ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ソックス
      %br/
      = link_to "",id:"category_RightLink" do
        レッグウォーマー
        
  .categoryBox__ListTitle
    アンダーウェア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ボクサーパンツ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トランクス
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
