.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_sport
      スポーツ・レジャー
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    ゴルフ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        バッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        シューズ(女性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        クラブ
      %br/
      = link_to "",id:"category_RightLink" do
        ウエア(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        シューズ(男性用)
      %br/
      = link_to "",id:"category_RightLink" do
        アクセサリー        
      
  .categoryBox__ListTitle
    フィッシング
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        リール
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ロッド
      %br/
      = link_to "",id:"category_RightLink" do
        ルアー用品
      %br/
      = link_to "",id:"category_RightLink" do
        釣り糸/ライン        

  .categoryBox__ListTitle
    自転車
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア
      %br/
      = link_to "",id:"category_LeftLink" do
        アクセサリー
      %br/
      = link_to "",id:"category_LeftLink" do
        工具/メンテナンス
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        自転車本体
      %br/
      = link_to "",id:"category_RightLink" do
        パーツ
      %br/
      = link_to "",id:"category_RightLink" do
        バッグ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    トレーニング/エクササイズ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ウォーキング
      %br/
      = link_to "",id:"category_LeftLink" do
        トレーニング用品
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ランニング
      %br/
      = link_to "",id:"category_RightLink" do
        ヨガ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    野球
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        シューズ
      %br/
      = link_to "",id:"category_LeftLink" do
        バット
      %br/
      = link_to "",id:"category_LeftLink" do
        防具
      %br/
      = link_to "",id:"category_LeftLink" do
        記念グッズ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ウェア
      %br/
      = link_to "",id:"category_RightLink" do
        グローブ
      %br/
      = link_to "",id:"category_RightLink" do
        アクセサリー
      %br/
      = link_to "",id:"category_RightLink" do
        練習機器
      %br/
      = link_to "",id:"category_RightLink" do
        応援グッズ
        
  .categoryBox__ListTitle
    サッカー/フットサル
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        シューズ
      %br/
      = link_to "",id:"category_LeftLink" do
        アクセサリー
      %br/
      = link_to "",id:"category_LeftLink" do
        応援グッズ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ウェア
      %br/
      = link_to "",id:"category_RightLink" do
        ボール
      %br/
      = link_to "",id:"category_RightLink" do
        記念グッズ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    テニス
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ラケット(軟式用)
      %br/
      = link_to "",id:"category_LeftLink" do
        シューズ
      %br/
      = link_to "",id:"category_LeftLink" do
        アクセサリー
      %br/
      = link_to "",id:"category_LeftLink" do
        応援グッズ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ラケット(硬式用)
      %br/
      = link_to "",id:"category_RightLink" do
        ウェア
      %br/
      = link_to "",id:"category_RightLink" do
        ボール
      %br/
      = link_to "",id:"category_RightLink" do
        記念グッズ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    スノーボード
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        バインディング
      %br/
      = link_to "",id:"category_LeftLink" do
        ブーツ(女性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア/装備(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア/装備(子ども用)
      %br/
      = link_to "",id:"category_LeftLink" do
        バッグ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ボード
      %br/
      = link_to "",id:"category_RightLink" do
        ブーツ(男性用)
      %br/
      = link_to "",id:"category_RightLink" do
        ブーツ(子ども用)
      %br/
      = link_to "",id:"category_RightLink" do
        ウエア/装備(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        アクセサリー
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    スキー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ブーツ(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        ブーツ(子ども用)
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア(男性用)
      %br/
      = link_to "",id:"category_LeftLink" do
        ウエア(子ども用)
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        板
      %br/
      = link_to "",id:"category_RightLink" do
        ブーツ(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        ビンディング
      %br/
      = link_to "",id:"category_RightLink" do
        ウエア(女性用)
      %br/
      = link_to "",id:"category_RightLink" do
        ストック
        
  .categoryBox__ListTitle
    その他スポーツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        サーフィン
      %br/
      = link_to "",id:"category_LeftLink" do
        バドミントン
      %br/
      = link_to "",id:"category_LeftLink" do
        スケートボード
      %br/
      = link_to "",id:"category_LeftLink" do
        ラグビー
      %br/
      = link_to "",id:"category_LeftLink" do
        ボクシング
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ダンス/バレエ
      %br/
      = link_to "",id:"category_RightLink" do
        バスケットボール
      %br/
      = link_to "",id:"category_RightLink" do
        バレーボール
      %br/
      = link_to "",id:"category_RightLink" do
        陸上競技
      %br/
      = link_to "",id:"category_RightLink" do
        アメリカンフットボール
      %br/
      = link_to "",id:"category_RightLink" do
        ボウリング
        
  .categoryBox__ListTitle
    アウトドア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ライト/ランタン
      %br/
      = link_to "",id:"category_LeftLink" do
        テーブル/チェア
      %br/
      = link_to "",id:"category_LeftLink" do
        調理器具
      %br/
      = link_to "",id:"category_LeftLink" do
        登山用品
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        テント/タープ
      %br/
      = link_to "",id:"category_RightLink" do
        寝袋/寝具
      %br/
      = link_to "",id:"category_RightLink" do
        ストーブ/コンロ
      %br/
      = link_to "",id:"category_RightLink" do
        食器
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        旅行用品
