.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_ticket
      チケット
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
    
  .categoryBox__ListTitle
    音楽
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        女性アイドル
      %br/
      = link_to "",id:"category_LeftLink" do
        国内アーティスト
      %br/
      = link_to "",id:"category_LeftLink" do
        音楽フェス
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        男性アイドル
      %br/
      = link_to "",id:"category_RightLink" do
        韓流
      %br/
      = link_to "",id:"category_RightLink" do
        海外アーティスト
      %br/
      = link_to "",id:"category_RightLink" do
        声優/アニメ        
      
  .categoryBox__ListTitle
    スポーツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        野球
      %br/
      = link_to "",id:"category_LeftLink" do
        格闘技/プロレス
      %br/
      = link_to "",id:"category_LeftLink" do
        ゴルフ
      %br/
      = link_to "",id:"category_LeftLink" do
        バスケットボール
      %br/
      = link_to "",id:"category_LeftLink" do
        ウィンタースポーツ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        サッカー
      %br/
      = link_to "",id:"category_RightLink" do
        テニス
      %br/
      = link_to "",id:"category_RightLink" do
        相撲/武道
      %br/
      = link_to "",id:"category_RightLink" do
        バレーボール
      %br/
      = link_to "",id:"category_RightLink" do
        モータースポーツ
      %br/
      = link_to "",id:"category_RightLink" do
        その他        

  .categoryBox__ListTitle
    演劇/芸能
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        演劇
      %br/
      = link_to "",id:"category_LeftLink" do
        落語
      %br/
      = link_to "",id:"category_LeftLink" do
        オペラ
      %br/
      = link_to "",id:"category_LeftLink" do
        バレエ
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ミュージカル
      %br/
      = link_to "",id:"category_RightLink" do
        伝統芸能
      %br/
      = link_to "",id:"category_RightLink" do
        お笑い
      %br/
      = link_to "",id:"category_RightLink" do
        サーカス
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    イベント
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        キッズ/ファミリー
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        声優/アニメ
      %br/
      = link_to "",id:"category_RightLink" do
        トークショー/講演会
        
  .categoryBox__ListTitle
    映画
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        洋画
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        邦画
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    施設利用券
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        美術館/博物館
      %br/
      = link_to "",id:"category_LeftLink" do
        ゴルフ場
      %br/
      = link_to "",id:"category_LeftLink" do
        プール
      %br/
      = link_to "",id:"category_LeftLink" do
        水族館
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
        
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        遊園地/テーマパーク
      %br/
      = link_to "",id:"category_RightLink" do
        スキー場
      %br/
      = link_to "",id:"category_RightLink" do
        フィットネスクラブ
      %br/
      = link_to "",id:"category_RightLink" do
        ボウリング場
      %br/
      = link_to "",id:"category_RightLink" do
        動物園
        
  .categoryBox__ListTitle
    優待券/割引券
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        レストラン/食事券
      %br/
      = link_to "",id:"category_LeftLink" do
        宿泊券

    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ショッピング
      %br/
      = link_to "",id:"category_RightLink" do
        フード/ドリンク券
      %br/
      = link_to "",id:"category_RightLink" do
        その他
        
  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて