.categoryBox__GenreBox
  .categoryBox__BoxTitle
    #Genre_woman
      レディース
  .categoryBox__WomanLink
    = link_to "",id:"categoryGenre_Link" do
      すべて
  .categoryBox__ListTitle
    トップス
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        Tシャツ/カットソー(七分/長袖)
      %br/
      = link_to "",id:"category_LeftLink" do
        シャツ/ブラウス(七分/長袖)
      %br/
      = link_to "",id:"category_LeftLink" do
        キャミソール
      %br/
      = link_to "",id:"category_LeftLink" do
        ホルターネック
      %br/
      = link_to "",id:"category_LeftLink" do
        チュニック
      %br/
      = link_to "",id:"category_LeftLink" do
        アンサンブル
      %br/
      = link_to "",id:"category_LeftLink" do
        パーカー
      %br/
      = link_to "",id:"category_LeftLink" do
        ベアトップ/チューブトップ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
      %br/
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        Tシャツ/カットソー(半袖/袖なし)
      %br/
      = link_to "",id:"category_RightLink" do
        シャツ/ブラウス(半袖/袖なし)
      %br/
      = link_to "",id:"category_RightLink" do
        ポロシャツ
      %br/
      = link_to "",id:"category_RightLink" do
        タンクトップ
      %br/
      = link_to "",id:"category_RightLink" do
        ニット/セーター
      %br/
      = link_to "",id:"category_RightLink" do
        カーディガン/ボレロ
      %br/
      = link_to "",id:"category_RightLink" do
        ベスト/ジレ
      %br/
      = link_to "",id:"category_RightLink" do
        トレーナー/スウェット
      %br/
      = link_to "",id:"category_RightLink" do
        ジャージ

  .categoryBox__ListTitle
    ジャケット/アウター
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ノーカラージャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        レザージャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        ライダースジャケット
      %br/
      = link_to "",id:"category_LeftLink" do
        ダウンベスト
      %br/
      = link_to "",id:"category_LeftLink" do
        ポンチョ
      %br/
      = link_to "",id:"category_LeftLink" do
        トレンチコート
      %br/
      = link_to "",id:"category_LeftLink" do
        ピーコート
      %br/
      = link_to "",id:"category_LeftLink" do
        モッズコート
      %br/
      = link_to "",id:"category_LeftLink" do
        毛皮/ファーコート
      %br/
      = link_to "",id:"category_LeftLink" do
        スカジャン
      %br/
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        テーラードジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        Gジャン/デニムジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        ダウンジャケット
      %br/
      = link_to "",id:"category_RightLink" do
        ミリタリージャケット
      %br/
      = link_to "",id:"category_RightLink" do
        ジャンパー/ブルゾン
      %br/
      = link_to "",id:"category_RightLink" do
        ロングコート
      %br/
      = link_to "",id:"category_RightLink" do
        ダッフルコート
      %br/
      = link_to "",id:"category_RightLink" do
        チェスターコート
      = link_to "",id:"category_RightLink" do
        スタジャン
      %br/
      = link_to "",id:"category_RightLink" do
        スプリングコート
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    パンツ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ショートパンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        ハーフパンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        ワークパンツ/カーゴパンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        サロペット/オーバーオール
      %br/
      = link_to "",id:"category_LeftLink" do
        サルエルパンツ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        デニム/ジーンズ
      %br/
      = link_to "",id:"category_RightLink" do
        カジュアルパンツ
      %br/
      = link_to "",id:"category_RightLink" do
        チノパン
      %br/
      = link_to "",id:"category_RightLink" do
        クロップドパンツ
      %br/
      = link_to "",id:"category_RightLink" do
        オールインワン
      %br/
      = link_to "",id:"category_RightLink" do
        ガウチョパンツ

  .categoryBox__ListTitle
    スカート
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ひざ丈スカート
      %br/
      = link_to "",id:"category_LeftLink" do
        キュロット
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ミニスカート
      %br/
      = link_to "",id:"category_RightLink" do
        ロングスカート
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    ワンピース
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ひざ丈ワンピース
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ミニワンピース
      %br/
      = link_to "",id:"category_RightLink" do
        ロングワンピース
      %br/

  .categoryBox__ListTitle
    靴
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ブーツ
      %br/
      = link_to "",id:"category_LeftLink" do
        スニーカー
      %br/
      = link_to "",id:"category_LeftLink" do
        モカシン
      %br/
      = link_to "",id:"category_LeftLink" do
        フラットシューズ/バレエシューズ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ハイヒール/パンプス
      %br/
      = link_to "",id:"category_RightLink" do
        サンダル
      %br/
      = link_to "",id:"category_RightLink" do
        ミュール
      %br/
      = link_to "",id:"category_RightLink" do
        ローファー/革靴
      %br/
      = link_to "",id:"category_RightLink" do
        長靴/レインシューズ

  .categoryBox__ListTitle
    ルームウェア/パジャマ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ルームウェア
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        パジャマ
      %br/

  .categoryBox__ListTitle
    レッグウェア
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        スパッツ/レギンス
      %br/
      = link_to "",id:"category_LeftLink" do
        レッグウォーマー
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ソックス
      %br/
      = link_to "",id:"category_RightLink" do
        ストッキング/タイツ
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    帽子
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ハット
      %br/
      = link_to "",id:"category_LeftLink" do
        キャップ
      %br/
      = link_to "",id:"category_LeftLink" do
        麦わら帽子
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ニットキャップ/ビーニー
      %br/
      = link_to "",id:"category_RightLink" do
        ハンチング/ベレー帽
      %br/
      = link_to "",id:"category_RightLink" do
        キャスケット
      %br/
      = link_to "",id:"category_RightLink" do
        その他        

  .categoryBox__ListTitle
    バッグ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        トートバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        リュック/バックパック
      %br/
      = link_to "",id:"category_LeftLink" do
        スポーツバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        クラッチバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        ボディバッグ/ウェストバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        メッセンジャーバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        旅行用バッグ/キャリーバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        和装用バッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ハンドバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        エコバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ボストンバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ショルダーバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ポーチ/バニティ
      %br/
      = link_to "",id:"category_RightLink" do
        マザーズバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ビジネスバッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ショップ袋
      %br/
      = link_to "",id:"category_RightLink" do
        かごバッグ

  .categoryBox__ListTitle
    アクセサリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ブレスレット
      %br/
      = link_to "",id:"category_LeftLink" do
        リング
      %br/
      = link_to "",id:"category_LeftLink" do
        ピアス(両耳用)
      %br/
      = link_to "",id:"category_LeftLink" do
        アンクレット
      %br/
      = link_to "",id:"category_LeftLink" do
        チャーム
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ネックレス
      %br/
      = link_to "",id:"category_RightLink" do
        バングル/リストバンド
      %br/
      = link_to "",id:"category_RightLink" do
        ピアス(片耳用)
      %br/
      = link_to "",id:"category_RightLink" do
        イヤリング
      %br/
      = link_to "",id:"category_RightLink" do
        ブローチ/コサージュ
      %br/
      = link_to "",id:"category_RightLink" do
        その他
  
  .categoryBox__ListTitle
    ヘアアクセサリー
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ヘアバンド/カチューシャ
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        ヘアゴム/シュシュ
      %br/
      = link_to "",id:"category_RightLink" do
        ヘアピン

  .categoryBox__ListTitle
    小物
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        折り財布
      %br/
      = link_to "",id:"category_LeftLink" do
        名刺入れ/定期入れ
      %br/
      = link_to "",id:"category_LeftLink" do
        キーホルダー
      %br/
      = link_to "",id:"category_LeftLink" do
        ハンカチ
      %br/
      = link_to "",id:"category_LeftLink" do
        マフラー/ショール
      %br/
      = link_to "",id:"category_LeftLink" do
        バンダナ/スカーフ
      %br/
      = link_to "",id:"category_LeftLink" do
        サスペンダー
      %br/
      = link_to "",id:"category_LeftLink" do
        モバイルケース/カバー
      %br/
      = link_to "",id:"category_LeftLink" do
        イヤマフラー
      %br/
      = link_to "",id:"category_LeftLink" do
        レインコート/ポンチョ
      %br/
      = link_to "",id:"category_LeftLink" do
        タバコグッズ
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        長財布
      %br/
      = link_to "",id:"category_RightLink" do
        コインケース/小銭入れ
      %br/
      = link_to "",id:"category_RightLink" do
        キーケース
      %br/
      = link_to "",id:"category_RightLink" do
        手袋/アームカバー
      %br/
      = link_to "",id:"category_RightLink" do
        ベルト
      %br/
      = link_to "",id:"category_RightLink" do
        ストール/スヌード
      %br/
      = link_to "",id:"category_RightLink" do
        ネックウォーマー
      %br/
      = link_to "",id:"category_RightLink" do
        サングラス/メガネ
      %br/
      = link_to "",id:"category_RightLink" do
        手帳
      %br/
      = link_to "",id:"category_RightLink" do
        傘
      %br/
      = link_to "",id:"category_RightLink" do
        ミラー
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    時計
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        腕時計(デジタル)
      %br/
      = link_to "",id:"category_LeftLink" do
        レザーベルト
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        腕時計(アナログ)
      %br/
      = link_to "",id:"category_RightLink" do
        ラバーベルト
      %br/
      = link_to "",id:"category_RightLink" do
        金属ベルト
  
  .categoryBox__ListTitle
    ウィッグ/エクステ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        ロングストレート
      %br/
      = link_to "",id:"category_LeftLink" do
        ショートストレート
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        前髪ウィッグ
      %br/
      = link_to "",id:"category_RightLink" do
        ロングカール
      %br/
      = link_to "",id:"category_RightLink" do
        ショートカール

  .categoryBox__ListTitle
    浴衣/水着
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        着物
      %br/
      = link_to "",id:"category_LeftLink" do
        長襦袢/半襦袢
      %br/
      = link_to "",id:"category_LeftLink" do
        水着ワンピース
      %br/
      = link_to "",id:"category_LeftLink" do
        その他
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        浴衣
      %br/
      = link_to "",id:"category_RightLink" do
        振袖
      %br/
      = link_to "",id:"category_RightLink" do
        水着セパレート
      %br/
      = link_to "",id:"category_RightLink" do
        水着スポーツ用

  .categoryBox__ListTitle
    スーツ/フォーマル/ドレス
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        パンツスーツ上下
      %br/
      = link_to "",id:"category_LeftLink" do
        パーティーバッグ
      %br/
      = link_to "",id:"category_LeftLink" do
        ウェディング
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        スカートスーツ上下
      %br/
      = link_to "",id:"category_RightLink" do
        ドレス
      %br/
      = link_to "",id:"category_RightLink" do
        シューズ
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    マタニティ
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        アウター
      %br/
      = link_to "",id:"category_LeftLink" do
        ワンピース
      %br/
      = link_to "",id:"category_LeftLink" do
        スカート
      %br/
      = link_to "",id:"category_LeftLink" do
        授乳服
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        トップス
      %br/
      = link_to "",id:"category_RightLink" do
        インナー
      %br/
      = link_to "",id:"category_RightLink" do
        パンツ/スパッツ
      %br/
      = link_to "",id:"category_RightLink" do
        パジャマ
      %br/
      = link_to "",id:"category_RightLink" do
        その他

  .categoryBox__ListTitle
    その他
  .categoryBox__Links
    .categoryBox__LeftLinks
      = link_to "",id:"category_LeftLink" do
        すべて
      %br/
      = link_to "",id:"category_LeftLink" do
        下着
    .categoryBox__RightLinks
      = link_to "",id:"category_RightLink" do
        コスプレ
      %br/
      = link_to "",id:"category_RightLink" do
        その他