%body
  %header
    %link{href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", rel: "stylesheet"}/
    %nav
      %h1.main-logo
        = link_to root_path do
          = image_tag "logo.png"
      .keyword
        %input.keywordbox{placeholder: "キーワードから探す"}/
        %button.searchBtn{type: "submit"}
          = image_tag "icon-search 1.png",class:"glass"
    .linkrecord
      .linkrecord__left
        .links
          - @profile.first(1).each do |profile|
            - if current_furimauser.id == profile.furimauser_id
              = link_to mypj_index_path,class:"redirectB" do
                マイページへ戻る
            - else
              = link_to mypj_index_path,class:"redirectB" do
                マイページへ戻る
              = link_to new_fprofile_path,class:"createB" do
                新規作成
          
  .profileForm
    .profileForm__box
      - @profile.first(1).each do |profile|
        .profileForm__title
          個人情報
        .profileForm__items
          .profileForm__item
            .profileForm__item__name    
              苗字
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{profile.first_name}"}/
          .profileForm__item
            .profileForm__item__name    
              名前
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{profile.last_name}"}/
          .profileForm__item
            .profileForm__item__name    
              苗字（カタカナ）
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{profile.first_name_kana}"}/
          .profileForm__item
            .profileForm__item__name    
              名前（カタカナ）
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{profile.last_name_kana}"}/
          .profileForm__item
            .profileForm__item__name
              連絡先
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{profile.phone_number}"}/
