%header
  %link{href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", rel: "stylesheet"}/
  %link{href: "_details.scss", rel: "stylesheet"}/
  %nav
    %h1.main-logo
      = image_tag "logo.png"
    .keyword
      %input.keywordbox{placeholder: "キーワードから探す"}/
      %button.searchBtn{type: "submit"}
        = image_tag "icon-search 1.png"
  .linkrecord
    .linkrecord__left
      .links
        = link_to "",class:"anylink" do
          カテゴリ
        = link_to "",class:"anylink",id:"links__right" do
          ブランド
    .linkrecord__right
      .links
        = link_to "",class:"anylink" do
          ログイン
        = link_to "",class:"anylink",id:"links__right" do
          新規会員登録
.main-detail
  .showMain
    .contentRight
      .topcontent
        .itemBox
          %h2.itemBox__name
            THE NORTH FACE フリース
          .itemBox__body
            %ul.items-detail
              %li.photo-detail
                = image_tag "member_photo_noimage_thumb.png",size: "300x200"
                %ul.item-detail
                  %li.photos
                    = image_tag "member_photo_noimage_thumb.png",size: "180x50"
                  %li.photos
                    = image_tag "member_photo_noimage_thumb.png",size: "180x50"
                  %li.photos
                    = image_tag "member_photo_noimage_thumb.png",size: "180x50"
          .itemBox__price
            %span.item-price-bold
              ¥2,380円
            .item__price-detail
              %span.item-tax
                (税込)
              %span.item-shipping-fee
                送料込み
            .itemDetail
              THE NORTH FACE フリース
            .table__detail
              %table
                %tr
                  %th 出品者
                  %td 
                    = link_to '#' do
                      user_name
                %tr
                  %th カテゴリー
                  %td
                    = link_to '#' do
                      メンズ
                %tr
                  %th ブランド
                  %td aaa
                %tr
                  %th 商品状態
                  %td 新品、未使用
                %tr
                  %th 配送料の負担
                  %td 送料込み
                %tr
                  %th 配送の方法
                  %td メルカリ便
                %tr
                  %th 発送元地域
                  %td 
                    = link_to '#' do
                      埼玉県
                %tr
                  %th 発想の目安
                  %td 1~2日で発想
            .text-center
              = link_to new_itempurchase_path, class: "item-buy-btn" do
                購入画面に進む
            .optionalArea
              %ul.good
                %li.good_btn
                  %i.fa.fa-star 
                  いいね
              %ul.option
                %li.option_Btn
                  %i.fa.fa-flag
                  = link_to '不適切な商品', '#', class: 'report'
                  
        .commentBox
          %ul.commentContents
          %f.new_comment
            %textarea.comment{name:"comment"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br 不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button.message-submit{type:"submit"}
              %i.fa.fa-comment
              コメントする


      %ul.links
        %li.links__before
          = link_to '#', class: "item-before" do
            %span 後ろの商品
            %i.fa.fa-angle-left
        %li.links__after
          = link_to '#', class: "item-after" do
            %i.fa.fa-angle-right
            %span 前の商品
.download-Advertisement.download-Advertisement3
  .download-Advertisement3__items
    %p.download-Advertisement3__subtitle 誰でもかんたん、人生を変えるフリマアプリ
    %h2.download-Advertisement3__detail 今すぐ無料ダウンロード！
    .aBtn
      = link_to do
        = image_tag "btn-app-store.png"
      = link_to do
        = image_tag "btn-google-play.png"
%footer
  %ul.contents
    %li.content
      %h2.content__title FURIMAについて
      %ul
        %li
          = link_to do
            会社概要（運営会社）
        %li
          = link_to do 
            プライバシーポリシー
        %li
          = link_to do
            FURIMA利用規約
        %li
          = link_to do 
            ポイントに関する特約
    %li.content
      %h2.content__title FURIMAを見る
      %ul
        %li
          = link_to do
            カテゴリー 一覧
        %li
          = link_to do
            ブランド一覧
    %li.content
      %h2.content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to do
            FURIMAガイド
        %li
          = link_to do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to do
            お知らせ
  .footer_icon
    = link_to do
      = image_tag "logo.png"
    %p ©︎ FURIMA
    