%body
  %header
    %link{href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", rel: "stylesheet"}/
    %nav
      %h1.main-logo
        = link_to root_path do
          = image_tag "logo.png"
      .keyword
        %input.keywordbox{placeholder: "キーワードから探す"}/
        %button.searchBtn{type: "submit"}
          = image_tag "icon-search 1.png",class:"glass"
    .linkrecord
      .linkrecord__left
        .links
          - @address.first(1).each do |address|
            - if current_furimauser.id == address.furimauser_id
              = link_to mypj_index_path,class:"redirectB" do
                マイページへ戻る
            - else
              = link_to mypj_index_path,class:"redirectB" do
                マイページへ戻る
              = link_to new_fadress_path,class:"createB" do
                新規作成
              
  .profileForm
    .profileForm__box
      - @address.each do |address|
        .profileForm__title
          配送先情報
        .profileForm__items
          .profileForm__item
            .profileForm__item__name    
              郵便番号
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{address.post_number}"}/
          .profileForm__item
            .profileForm__item__name    
              都道府県
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{address.prefecture}"}/
          .profileForm__item
            .profileForm__item__name    
              市町村
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{address.city}"}/
          .profileForm__item
            .profileForm__item__name    
              番地
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{address.town}"}/
          .profileForm__item
            .profileForm__item__name
              建物名
            .profileForm__item__information  
              %input{disabled:"disabled", type:"“text”",value:"#{address.building}"}/
