.wrrapper
  .top
    = link_to image_tag "logo.png",size: "180x50",class:"top__logo"
    
  .card__main
    .card__main__area
      .card__content__title
        %h2 クレジットカード情報入力
      .content__credit-card
        .content__credit-card__inner
          = form_tag(cards_path, method: :post,name: "inputForm") do
            %label.card__label カード番号
            %span.card__required 必須 
            %br
            = text_field_tag "card_number","", type: 'text', id: 'payment_card_number',class: 'input-card-number', placeholder: '半角数字のみ', maxlength: "16"
            %br
            .card__icons
              = image_tag src="icon_visa.png" , size: "45x18"
              = image_tag src="icon_mastercard.png" , size: "30x22"
              = image_tag src="icon_americanexpress.png" , size: "40x18"
              = image_tag src="icon_jcb.png" , size: "40x18"
              = image_tag src="icon_dinersclub.png" , size: "40x18"
              = image_tag src="icon_discover.png" , size: "40x18"
              = image_tag src="icon_applepay.png" , size: "38x18"
            .cards-expire
              %label.card__label 有効期限
              %span.card__required 必須
              %br
              .cards-expires
                .cards-expire__wrap
                  %select#exp_month{name: "exp_manth", type: "text"}
                    %option{value: ""} --
                    %option{value: "1"}01
                    %option{value: "2"}02
                    %option{value: "3"}03
                    %option{value: "4"}04
                    %option{value: "5"}05
                    %option{value: "6"}06
                    %option{value: "7"}07
                    %option{value: "8"}08
                    %option{value: "9"}09
                    %option{value: "10"}10
                    %option{value: "11"}11
                    %option{value: "12"}12
                  %span.expire-text 月
                .cards-expire__wrap
                  %select#exp_year{name: "exp_year", type: "text"}
                    %option{value: ""} --
                    %option{value: "2019"}19
                    %option{value: "2020"}20
                    %option{value: "2021"}21
                    %option{value: "2022"}22
                    %option{value: "2023"}23
                    %option{value: "2024"}24
                    %option{value: "2025"}25
                    %option{value: "2026"}26
                    %option{value: "2027"}27
                    %option{value: "2028"}28
                    %option{value: "2029"}29
                  %span.expire-text 年
            .cards-expire
              %label.card__label セキュリティコード
              %span.card__required 必須
              %br
              = text_field_tag "cvc","", type: 'text',id: "payment_card_cvc", class: 'input-cvc-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
            .content-bottom#card_token
              = submit_tag '編集する', class: 'content-bottom--add-btn', id: 'token_submit'

  .bot
    %ul.bot__privacy
      %li.policy プライバシーポリシー  
      %li.terms FURIMA利用規約  
      %li.transaction 特定商取引に関する表記
    = link_to image_tag "logo-white.png",size: "180x50",class:"bot__icon"
    .bot__copyright
      ©️FURIMA,Inc