.wrrapper
  .top
    = link_to image_tag "logo.png",size: "180x50",class:"top__logo"
    
  %main.main
    .contents__area
      .contents__area__title 購入内容の確認
      %section.contents__area__item-info
        .contents__area__item__inner
          = image_tag @image.image1_url,class:"contents__area__item__logo"
          %ul.contents__area__item__about
            %li.contents__area__item__title 
            = @item.name
            %li.contents__area__item__price
            = @item.price

      %section.contents__buy-info
        .contents__buy-info__inner

          .contents__buy-info-price__table
            .contents__buy-info-price__table__info
              .contents__buy-info-price__table__intro 支払い金額
              .contents__buy-info-price__table__price 
              = @item.price
            .contents__buy-info-price__table__point 
            %input.point__checkbox{type:"checkbox", value:"0"}ポイントを使用 (所持ポイント: P0)

          .contents__buy-info-pay__table
            .contents__buy-info-pay__table__info 
              = link_to card_path(id:current_furimauser.id), class:"card__info" do
                変更する
            .card__method 支払い方法
            = image_tag src=@card_src, width: '26', height: '20', alt: @card_brand, id: "card_image"

            .card__number 
            = "**** **** **** " + @card_information.last4
            .card__deadline 有効期限
            = @card_information.exp_month.to_s
            = @card_information.exp_year.to_s.slice(2,3)
           
          .contents__buy-info-user__table
            .contents__buy-info-user__table__info 
              = link_to "", class:"user__info" do
                変更する
            .user__method 配送先
            .user__postnumber 郵便番号
            .user__address 住所
            .user__name 名前

          .contents__buy-info-submit__table

            = link_to pay_path(@item.id),class:"contents__buy-info-submit__table__submit-btn" do
              購入する

  .bot
    %ul.bot__privacy
      %li.policy プライバシーポリシー  
      %li.terms FURIMA利用規約  
      %li.transaction 特定商取引に関する表記
    = link_to image_tag "logo-white.png",size: "180x50",class:"bot__icon"
    .bot__copyright
      ©️FURIMA,Inc