%body
  %header
    %link{href: "https://use.fontawesome.com/releases/v5.6.3/css/all.css", rel: "stylesheet"}/
    %link{href: "category.css", rel: "stylesheet"}/
    %nav
      %h1.main-logo
        = link_to itempurchase_index_path do
          = image_tag "logo.png"
      .keyword
        %input.keywordbox{placeholder: "キーワードから探す"}/
        %button.searchBtn{type: "submit"}
          = image_tag "icon-search 1.png",class:"glass"
    .linkrecord
      .linkrecord__left
        .links
          = link_to category_index_path,class:"anylink" do
            カテゴリ
          = link_to "",class:"anylink",id:"links__right" do
            ブランド
          = link_to detail_index_path,class:"anylink",id:"links__right" do
            商品詳細
      .linkrecord__right
        .links
          = link_to "",class:"anylink" do
            ログイン
          = link_to user_index_path class:"anylink",id:"links__right" do
            新規会員登録
    .nowPlace
      .nowPlace__items
      = link_to category_index_path do
        カテゴリ一覧
      .nowPlace__space
        >
      .nowPlace__title
        レディース
    
    .Pickup-category
      %h2.Pickup__title ピックアップカテゴリー
      %h3.Pickup__subtitle 子供用品
      .Pickup__forms
        - @kid.each do |kid|
          .Pickup__form
            %figure{class: "Pickup__item--image"}
              - kid.images.each do |image|
                = image_tag image.image1
            .Pickup__item--body
              %h3{class: "Pickup__item--name"} 
                = kid.name
              .Pickup__item--price
                .Pickup__form__Pickup__item--price__name 
                  金額#{kid.price}円
                .Pickup__form__Pickup__item--price__icon
                  %i.fas.fa-star 0
              %p (税込)

  .download-Advertisement.download-Advertisement3
    .download-Advertisement3__items
      %p.download-Advertisement3__subtitle 誰でもかんたん、人生を変えるフリマアプリ
      %h2.download-Advertisement3__detail 今すぐ無料ダウンロード！
      .aBtn
        = link_to do
          = image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to do
          = image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
%footer
  %ul.contents
    %li.content
      %h2.content__title FURIMAについて
      %ul
        %li
          = link_to do
            会社概要（運営会社）
        %li
          = link_to do 
            プライバシーポリシー
        %li
          = link_to do
            FURIMA利用規約
        %li
          = link_to do 
            ポイントに関する特約
    %li.content
      %h2.content__title FURIMAを見る
      %ul
        %li
          = link_to do
            カテゴリー 一覧
        %li
          = link_to do
            ブランド一覧
    %li.content
      %h2.content__title ヘルプ＆ガイド
      %ul
        %li
          = link_to do
            FURIMAガイド
        %li
          = link_to do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to do
            お知らせ
  .footer_icon
    = link_to do
      = image_tag "logo.png",class:"glass"
    %p ©︎ FURIMA
  = link_to do 
    .ExhibitionBtn
      %span.ExhibitionBtn__text 出品する
      %br/
      .ExhibitionBtn__icon 
        = link_to new_exhibition_path do
          = image_tag "icon_camera.png",class:"glass"
